{% load static %}

{% include 'shared/header.html' %}

<body>
    <div class="header mx-3 mb-3">
        <h1>Scrubber Options</h1>
    </div>
    <div class="mx-3">
        <a href="{% url 'politics_scrubber' %}"><p>POLITICAL - Politics News</p></a>
        <a href="{% url 'business_scrubber' %}"><p>ECONOMIC - Business News</p></a>
        <p>SOCIAL - Marketing News</p>
        <p>TECHNOLOGICAL - Tech News</p>
        <p>LEGAL - Law and Regulations News</p>
        <p><a href={% url 'weather_scrubber' %}>ENVIRONMENTAL - Weather Info</a></p>
    </div>
    <div class="mx-3">
        <a href="{% url 'test_environment' %}"><p>TEST ENVIRONMENT</p></a>
    </div>
    

{% include 'shared/footer.html' %}